<article>
    <section class="header">
        Posted on $date$
        $if(author)$
            by $author$
        $endif$
    </section>
    <section>
        $body$
    </section>
</article>
$if(vertigo)$
<script src="/js/cannon.min.js"             language="javascript"></script>
<script src="/js/three.min.js"              language="javascript"></script>
<script src="/js/TrackballControls.js"  language="javascript"></script>
<script src="/js/epley.js"              language="javascript"></script>
<script src="/js/vertigo-simulator.js"  language="javascript"></script>
$endif$

$if(vertigo-chart)$
<p>vertigo-chart was true</p>
<p>
$testing$
</p>
<script language="javascript">
    $vertigo-chart-code$
</script>
$endif$
